PORT=""
DATABASE_URL=""
NODE_ENV=""
BCRYPT_SALT_ROUND=""
# Access Token
JWT_ACCESS_SECRET=""
JWT_ACCESS_EXPIRES_IN=""
# Refresh Token 
JWT_REFRESH_SECRET=""
JWT_REFRESH_EXPIRES_IN=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
# Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL=""


# Frontend URL

FRONTEND_URL=""

# Express Session
EXPRESS_SESSION_SECRET=""