PORT=""
DATABASE_URL=""
NODE_ENV=""
BCRYPT_SALT_ROUND=""
# Access Token
JWT_ACCESS_SECRET=""
JWT_ACCESS_EXPIRES_IN="1d"
# Refresh Token 
JWT_REFRESH_SECRET=""
JWT_REFRESH_EXPIRES_IN=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
# Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="" 


# Frontend URL

FRONTEND_URL=""

# Express Session
EXPRESS_SESSION_SECRET=""

# Coudinary

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# redis
REDIS_HOST=""
REDIS_PORT=""
REDIS_USERNAME=""
REDIS_PASSWORD=""

# Google app password
# norh gtkc jzyo rhki


SMTP_HOST=""
SMTP_PORT=""
SMTP_USERNAME=""
SMTP_FROM_EMAIL=""
SMTP_PASSWORD=""